
nav{
  background-image:linear-gradient(to bottom, #251d1b,rgb(179, 34, 179));
  position:fixed;
  width:100%;
}
nav .nav-link{
    color:white;
}
.nav-2{
    font-size:12px;
}
.search{
    max-width:60rem;
 margin:auto;
}
footer{
    background-color: #fbfbfb;
    font-size:12px;
}
.description{
    width:150px;
}
.signup{
    background-color: red;
    color:red;
}

signup .form {
    background-color: white;
    width: 500px;
    margin: auto;
    padding-top: 30px;
    padding-bottom: 30px;
    border-radius: 25px;

}

signup .form p {
    margin-right: 300px;
    font-weight: 800;
    font-size:x-large
}

signup .form input {
    width: 400px;
    padding: 10px;
    border-radius: 10px;
    border-width: 1px;
    margin: auto;
}

signup .email {
    margin-bottom: 20px;
}

signup .password {
    margin-bottom: 20px;
}

signup .submit {
    margin-bottom: 20px;
}
signup .gameid{
    margin-bottom:20px;
}
signup .submit button{
    background-color: rgb(179, 34, 179);
    color:White;
    width:400px;
}
signup .submit button:hover{
    color:White;
    opacity:50%;
}


signup .form-container {
    padding-top: 150px;
    padding-bottom: 158px;
    background-color: rgb(179, 34, 179);
}
signup .confirmpassword{
    margin-bottom: 20px;

}

login .form {
    background-color: white;
    width: 500px;
    margin: auto;
    padding-top: 50px;
    padding-bottom: 50px;
    border-radius: 25px;

}

login .form p {
    margin-right: 320px;
    font-weight: 800;
    font-size:x-large
}

login .form input {
    width: 400px;
    padding: 10px;
    border-radius: 10px;
    border-width: 1px;
    margin: auto;
}

login .email {
    margin-bottom: 20px;
}

login .password {
    margin-bottom: 20px;
}

login .submit {
    margin-bottom: 20px;
}

login .submit button{
    background-color: rgb(179, 34, 179);
    color:White;
    width:400px;
}
login .submit button:hover{
    color:White;
    opacity:50%;
}


login .form-container {
    padding-top: 200px;
    padding-bottom: 200px;
    background-color: rgb(179, 34, 179);
}
login .signuplink span{
    color:Red;

}



